/*Theme Colors*/
:root {
     --theme-purple: #571845;
     --theme-orange: #FF5733;
     --theme-indigo: #900C3E;
     --theme-redish-brown: #C70039;
     --theme-cab-yellow:#FFC300;
     --theme-default-text-color:#6C6767;
}

.test-purple{
    background-color: var(--theme-purple);
}

.test-yellow{
    background-color: var(--theme-cab-yellow);
}

p{
    font-weight: lighter;
    font-size: 1.2rem;
}


/*Header*/
.logo{
    width: 100px;
}

.header{
    text-align: left;
    padding:10px;
}

.main-nav {
 background-color: var(--theme-purple);
 color: #fff;
}

/*Jumbotron*/
.hero
{
    height: 79vh;
    background-image: url(../img/bg.JPG);
    background-size: cover;
    color:white;
}


.hero-button{
    border: var(--theme-purple);
    background-color: var(--theme-purple);
}

.hero-button:hover{
    background-color:var(--theme-redish-brown);
}

/*Skill Level Section*/

.skill-level-indicator-container{
    margin-top:20px;
}

.skill-text{
    line-height:35px;
}

.skill-level-indicator{
    height: 35px;
    border-radius:0;
}

.skill-level-indicator > .progress-bar{
    background-color: var(--theme-orange);
}

/*About Me*/

.profile-pic{
    width:100%;
    max-width:200px;
    padding:10px;
    border:1px solid rgb(243, 242, 242);
    background: #f5f5f5;
    border-radius: 90%;
    text-align: center;
    margin: auto auto 5% auto;
}


/*Project Gallery*/


.project-main, .project-sub{
    width: 100%;
    padding: 1.5%;
    margin: 0;
}

.project-thumb{
    width:100%;
}

.project-main{
    background: var(--light);
}

.project-2{
    background: #fafafa;
}

.project-3{
    background: #f5f5f5;
}

.project-4{
    background: #ececec;
}

.project-5{
    background: #dedede;  
}

.footer{
    
}
